.header-logo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo img{
    height: auto;
    width: 30%;
   
}
.text-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.text-info{
    text-align: justify;
}