@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
body{
    /*background-image: url("/src/assets/cirrus-icon.png");*/
}

.header-logo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo img{
    height: auto;
    width: 30%;
}
.text-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.text-info{
    text-align: center;
    padding: 1.5rem;
}
